#form-container {
  width: 70%;
  height: 100%;
}
.video-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 700px;
}
.videoStream{
  
  /* position:absolute;
  top:0;
  right:0; */
  margin-right: 20px;

}
video{
    width: 400px;
  height: 300px;
}
.row {
  margin-top: 15px;
}
.row.form-group {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.btn {
  margin-left: 15px;
}

.change-link {
  background-color: #000;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  bottom: 0;
  color: #fff;
  opacity: 0.8;
  padding: 4px;
  position: absolute;
  text-align: center;
  width: 150px;
}
.change-link:hover {
  color: #fff;
  text-decoration: none;
}

img {
  width: 450px;
}
